.App {
  text-align: center;
  font-family: itc-avant-garde-gothic-pro;
  width: 100%;
}

.header-top {
  height: 3vh;
  background-color: #335d7f;
}

td {
  text-align: left;
  vertical-align: baseline;
}
td img {
  vertical-align: top;
}

.App-logo {
  height: 3.7vmin;
  pointer-events: none;
}

.link-icon {
  height: 2vh;
}

.contact-icon {
  height: 2vmin;
}

.intro {
  width: 100%;
}

.intro-selfie {
  width: 12.8vmin;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.desc {
  padding: 14pt;
  text-align: left;
  font-size: calc(10px + 0.7vmin);
}

.desc-design {
  padding: 14pt;
  width: 80%;
  margin: auto;
  font-size: calc(10px + 1vmin);
}

.desc-main {
  width: 80%;
  margin: auto;
  padding: 10pt;
  font-size: calc(10px + 1vmin);
}

.label-primary {
  background-color:#f16059;
}

.label-designtitle {
  background-color:green;
}

.label-year {
  background-color:lightskyblue;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 1.3vh;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.tags-container {
  width: 70%;
  /* float: right; */
  padding: 3px;
}

.project-list {
  font-size: calc(10px + 1.5vmin);
  background-color: #F8F8F8;
  color: #39495b;
  padding-bottom: 1vh;
}

.container-design, .project-list{
  overflow: auto;
  color: #39495b;
  font-size: calc(10px + 1.5vmin);
  background-color: #F8F8F8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f16059;
  color: white;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.2vmin);
}

#content {
  width: 100%;
}

#menu-list {
  background-color: #282c34;
  width: 15%;
}

#menu-header {
  font-size: calc(10px + 1.8vmin);
  color: white;
  background-color: black;
  background-image: url('./images/bar_2.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#menu-list {
  display: table-cell;
}

.App-link {
  color: #61dafb;
}

.proj-card {
  width: 84%;
  margin: auto;
}

.img-proj-card, .img-design-card{
  width: 100%;
  object-fit: cover;
}

.card {
  margin: auto;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 2vh;
  font-size: calc(10px + 0.8vmin);
  height: 10vh;
  width: 100%;
  display: table;
}

.vertical-menu {
  top: 0;
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
/*
 * Project Section
 * Ko Gi Hun, 28 Nov 2020 
 */
.project-container {
  padding: 1vh;
}

 .project-card {
  padding: 0.5vh;
  float: left;
}

/*
 * ID Card Section
 * Ko Gi Hun, 28 Nov 2020 
 */
.id-card {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 20px;
  margin: auto;
  background-color:#F8F8F8;
  color: #404c55;
  width: 25vh;
  height: 37vh;
  border-radius: 25px;
  vertical-align: middle;
}

.id-content {
  position: relative;
  top: 1vh;
  height: 29vh;
  font-size: 1.5vh;
}

.id-content-gray {
  top: 1vh;
  position: relative;
}

.id-black {
  height: 3vh;
  background-color:#39495b;
}

.id-maroon {
  height: 0.7vh;
  background-color:#b75b57;
}

.id-skyblue {
  height: 0.3vh;
  background-color: #4c9cca;
}

.id-barcode {
  width: 8rem;
  height: 2.8rem;
}

.id-lanyard {
  opacity: 0.5;
  width: 45vh;
  height: 45vh;

  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 50px;
  margin: auto;
  vertical-align: middle;
}

.intro-desc {
  position: relative;
  display: inline-block;
  width: 40%;
  left: 2.5vh; 
  right: 0; 
  vertical-align: middle;
  text-align: left;
  margin-left: auto; 
  margin-right: auto; 
  font-size: calc(10px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}