.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: itc-avant-garde-gothic-pro;
}

td {
  vertical-align: baseline;
}
td img {
  vertical-align: top;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

.link-icon {
  height: 3vmin;
}

.intro {
  width: 100%;
}

.intro-selfie {
  width: 20vmin;
  height: auto;
  margin: auto;
  margin-top: 28px;
}

.desc {
  padding: 14pt;
  text-align: left;
  font-size: calc(10px + 1vmin);
}

.desc-design {
  padding: 14pt;
  width: 48%;
  margin: auto;
  font-size: calc(10px + 1vmin);
}

.desc-main {
  width: 80%;
  margin: auto;
  padding: 10pt;
  font-size: calc(10px + 1vmin);
}

.intro-desc {
  position: absolute;
  width: 70%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 28px;
  font-size: calc(10px + 1vmin);
}

.label-primary {
  background-color:#f16059;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.tags-container {
  margin: auto;
  padding: 10px;
}

.project-list {
  font-size: calc(10px + 2vmin);
  padding-bottom: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f16059;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.proj-card {
  width: 84%;
  margin: auto;
}

.img-proj-card {
  width: 50%;
  height: auto;
  float: right;
}

.img-design {
  width: 100%;
}

.container-design {
  /* color: royalblue;
  background-color: #F5CA01; */
}
.card {
  margin: auto;
}

.footer {
  background-color: #323232;
  padding: 2vh;
  font-size: calc(10px + 0.8vmin);
  height: 10vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
