name: NPM Run Install, Test & Build (Preflight Check)
on:
    pull_request:
        branches: [ master, develop ]
jobs:
    install_build:
        env:
            CI: true
            REACT_APP_MODE: PRODUCTION
            NODE_ENV: test
            MONGO_URI: ${{ secrets.MONGO_URI }}
            MONGO_DBNAME: ${{ secrets.MONGO_DBNAME }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [ 20.18 ]
        steps:
            - name: Get Latest Source Code
              uses: actions/checkout@v4
              with:
                submodules: recursive
                token: ${{ secrets.GITHUB_TOKEN }}
            - name: Setup Node JS
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}
                cache: 'npm'
            - name: Clean Install Dependencies
              run: npm ci
            - name: Build
              run: npm run build
